script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
//- script(type='text/javascript', src='http://7xqdw6.com1.z0.glb.clouddn.com/hamburgerblog.js')